{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static "css/receipts.css" %}">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <header>
        <div class="navigation">
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li><a href="{% url "home"%}">Receipts</a></li>
                        <li><a href="{% url "create_receipt"%}">Add a receipt</a></li>
                        <li><a href="{% url "category_list"%}">Categories</a></li>
                        <li><a href="{% url "create_category"%}">Add a category</a></li>
                        <li><a href="{% url "account_list"%}">Accounts</a></li>
                        <li><a href="{% url "create_account"%}">Add an account</a></li>
                        <li><a href="{% url "logout" %}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url "login" %}">Login</a></li>
                        <li><a href = "{% url "signup" %}">Sign Up</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
    <main>
        {% block content %}
        {% endblock content %}
    </main>

</body>
</html>
