{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static "css/accounts.css" %}">
    <title>Expenses Login</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    {% if user.is_authenticated %}
                        <a href="{% url "logout" %}">Logout</a>
                    {% else %}
                        <a href="{% url "login" %}">Login</a>
                        <li><a href = "{% url "signup" %}">Signup</a></li>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <h1>Login</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Login</button>
            </form>
        </div>
    </main>
</body>
</html>
