{% extends 'base.html' %}

{% block title %} Accounts {% endblock title%}
{% block content%}
    <div>
        <h1>My Accounts</h1>
        <table id="accountsTable">
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Number of receipts</th>
            </tr>
            {% for account in account_list %}
            <tr>
                <td>{{ account.name }}</td>
                <td>{{ account.number }}</td>
                <td>{{ account.receipts.all|length }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock content %}
