{% extends 'base.html' %}

{% block title%} Receipts {% endblock title%}
{% block content%}
        <div>
            <h1>My Categories</h1>
            <table id="categoryTable">
                <tr>
                    <th>Name</th>
                    <th>Number of Receipts</th>
                </tr>
                {% for category in category_list %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td>{{ category.receipts.all|length }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
{% endblock content %}
