@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    height: 100%;
    margin: 0;
    margin-top: 0px;
    padding: 0;
    background-color: aliceblue;
}

h1 {
    padding: 2%;
    /* color: rgb(71, 0, 137); */
    color: #4e579c;
}

a:hover {
    text-decoration: none;
    background-color: #555;
    color: white;
}

.navigation {
    z-index: 10;
    position: absolute;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    border: 1px solid #555;
    height: 100%;
    position: fixed;
    overflow: auto;
    background-color: rgb(213, 222, 229);
}

li a {
    display: block;
    color: #646363;
    padding: 8px 16px;
    text-decoration: none;
}

thead,
tbody,
tr {
    display: contents;
}

th,
td {
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#receiptsTable {
    margin-top: 10px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: 150px minmax(120px, 1.33fr) minmax(120px, 1.33fr) minmax(120px, 1.33fr) minmax(120px, 1.33fr) 150px
}

#categoryTable {
    padding-top: 10px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: 1fr 2.5fr;
}

#accountsTable {
    padding-top: 10px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: minmax(150px, 1.33fr) minmax(120px, 2.33fr) minmax(120px, 2.33fr)
}

th {
    position: sticky;
    top: 0;
    background: #6c7ae0;
    text-align: left;
    font-weight: normal;
    font-size: 1.1rem;
    color: white;
}

td {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #808080;
}

main {
    margin-left: 220px;
}

input,
select {
    display: inline-block;
    margin: 7px;
    padding: 3px;
    width: 50%;
    height: 27px;
    border: solid 1px #6c7ae0;
    border-radius: 10px;
}

input:focus {
    background-color: #dfe2fa;
    outline: solid 2px #6c7ae0;

}

label {
    color: #808080;
    display: inline-block;
    float: left;
    clear: left;
    width: 70px;
    padding: 7px;

}


button {
    font-family: 'Inter', sans-serif;
    background-color: #4e579c;
    color: white;
    border: none;
    padding: 13px 30px;
    cursor: pointer;
    margin: 20px
}
